# **Introduction to Python**

 created by : Hanindhiya Ika Septiana

---

**Contents:**
  *   Basic Programming I: Condition
      *   Equals: a == b
      *   Not Equals: a != b
      *   Less than: a < b
      *   Less than or equal to: a <= b
      *   Greater than: a > b
      *   Greater than or equal to: a >= b
  *   Basic Programming II : Iteration
      1.   While 
      2.   For
            *   number of times
            *   items in elements
  *   Basic Programming III : Array and Other Data Types
  *   Basic Programming IV : Functions

In [1]:
name = 'Hanin'
print (name)
# shift + enter 
# ctrl + enter

Hanin

In [2]:
print (11 % 2)

1

In [3]:
penjumlahan = 1 + 2 
print (penjumlahan)

3

In [4]:
complex_arith = 8 + 2 * 5 - 1 / 2
# PEMDAS = Parenthesis, Exponent, Multiplication, Division, Addition and Substraction
# 8 + 10 - 0.5 
# 18 - 0.5 = 17.5 

print (complex_arith)

17.5

### Basic Programming I : Condition

In [5]:
# IF STATEMENT - SINGLE CONDITION
cat_condition = 'hungry'
# buat task dimana print value "feed the cat" ketika cat_condition berniat hungry

if cat_condition == 'hungry':
  print('feed the cat')

feed the cat

In [6]:
# IF STATEMENT - SINGLE CONDITION - BOOLEAN
is_cat_hungry = True

if is_cat_hungry:
    print('feed the cat')

feed the cat

In [7]:
# IF STATEMENT - MULTIPLE CONDITION 1 (IF... ELIF... ELSE...)
cat_condition = 'Want To Play'

if cat_condition == 'hungry':
  print('feed the cat')
elif cat_condition == 'thristy':
  print ('give water to cat')
else:
  print ('dont know what to do')

dont know what to do

In [8]:
# IF STATEMENT - MULTIPLE CONDITION 2 (IF... ELIF...) menggunakan AND (semua terpenuhi)
# Simple Simsimi 
# Dalam Negeri/Luar Negeri

tujuan = 'dalam negeri'
akomodasi = 'pesawat'

if tujuan == 'dalam negeri' and akomodasi == 'pesawat':
  print ('Perkiraan budget maksimal adalah 1 juta rupiah')
elif tujuan == 'dalam negeri' and akomodasi == 'mobil':
  print ('Perkiraan budget maksimal adalah 800 ribu rupiah')

Perkiraan budget maksimal adalah 1 juta rupiah

In [9]:
# IF STATEMENT - MULTIPLE CONDITION 3 (IF... ELSE... ELIF...) menggunakan AND (semua terpenuhi)
# Simple Simsimi 
# Dalam Negeri/Luar Negeri

tujuan = 'dalam negeri'
akomodasi = 'pesawat'
total_peserta = 5 

if tujuan == 'dalam negeri' and akomodasi == 'pesawat':
  if total_peserta < 5:
    print ('Perkiraan budget maksimal adalah 4 juta rupiah')
  else:
    print ('Perkiraan budget maksimal adalah 8 juta rupiah')
elif tujuan == 'dalam negeri' and akomodasi == 'mobil':
  print ('Perkiraan budget maksimal adalah 800 ribu rupiah')

Perkiraan budget maksimal adalah 8 juta rupiah

In [10]:
# IF STATEMENT - MULTIPLE CONDITION 4 (IF... ELIF...) menggunakan AND (semua terpenuhi)
# Simple Simsimi 
# Dalam Negeri/Luar Negeri

tujuan = 'dalam negeri'
akomodasi = 'pesawat'
total_peserta = 5 

if tujuan == 'dalam negeri' and akomodasi == 'pesawat' and total_peserta < 5:
    print ('Perkiraan budget maksimal adalah 4 juta rupiah')
elif tujuan == 'dalam negeri' and akomodasi == 'pesawat' and total_peserta >= 5:
  print ('Perkiraan budget maksimal adalah 8 juta rupiah')

Perkiraan budget maksimal adalah 8 juta rupiah

In [11]:
# IF STATEMENT - MULTIPLE CONDITION 5 (IF... ELIF...) menggunakan OR (salah satu terpenuhi)
# Simple Simsimi 
# Dalam Negeri/Luar Negeri

tujuan = 'Luar Negeri'
tujuan_negara = 'Belanda'
akomodasi = 'Pesawat'
total_peserta = 5 

if tujuan == 'Luar Negeri' and akomodasi == 'Pesawat' and (tujuan_negara == 'Belanda' or tujuan_negara == 'Spanyol') and total_peserta < 5:
  print ('Perkiraan budget maksimal adalah 10 juta rupiah')
elif tujuan == 'Luar Negeri' and akomodasi == 'Pesawat' and (tujuan_negara == 'Belanda' or tujuan_negara == 'Spanyol') and total_peserta >= 5:
  print ('Perkiraan budget maksimal adalah 80 juta rupiah')

Perkiraan budget maksimal adalah 80 juta rupiah

In [12]:
# IF STATEMENT - SHORTHAND IF... ELSE...
input_bilangan = 3 
print ("Ini Bilangan Genap") if input_bilangan % 2 == 0 else ("Ini Bilangan Ganjil")

'Ini Bilangan Ganjil'

In [13]:
# IF STATEMENT - IF... ELIF...
x = 'a'
if x == 'a':
  print(1)
elif x == 'b':
  print (2)
else:
  print(3)

1

In [14]:
# IF STATEMENT - NOT
x = 'b'
if x != 'a':
  print ('Not A')

Not A

In [15]:
# IF STATEMENT - NESTED IF 

x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [16]:
# IF STATEMENT - IF... ELSE..
nama_saya = 'Hanindhiya Ika Septiana'
jenis_kelamin = 'Perempuan'

if jenis_kelamin == 'Perempuan':
  print('Sewaktu sekolah, saya menggunakan rok berwarna abu')
else:
  print('Sewaktu sekolah, saya menggunakan celana berwarna abu')

Sewaktu sekolah, saya menggunakan rok berwarna abu

### Basic Programming II : Iteration

In [17]:
# FOR LOOP - Number of Times 1
# for <variable> in range <start, end>
for angka in range(0, 10): 
  print('Index ke', angka)

Index ke 0
Index ke 1
Index ke 2
Index ke 3
Index ke 4
Index ke 5
Index ke 6
Index ke 7
Index ke 8
Index ke 9

In [18]:
# FOR LOOP - Number of Times 2
for i in range (0,9): # dalam range 1 sampai dengan 9
  if i % 2 != 0: # contoh 2 mod 2 = 0 / 3 mod 2 != 0 karena sisa 1 
    print (i)
  else:
    print ('ini genap')
    print ('index ke', i)

ini genap
index ke 0
1
ini genap
index ke 2
3
ini genap
index ke 4
5
ini genap
index ke 6
7
ini genap
index ke 8

In [19]:
# QUIZ 
for i in range(0, 10):
  if i == 10:
    print ('10 adalah nomor punggung Lionel Messi')

In [20]:
# FOR LOOP - Items in Elements_1 (array : List, Tuple)
nama_siswa = ['Krian', 'Bayu', 'Rony', 'Farhan']
index = 0

for variable in (nama_siswa):
  index +=1
  print ('Absen', index)
  print ('Nama', variable)

Absen 1
Nama Krian
Absen 2
Nama Bayu
Absen 3
Nama Rony
Absen 4
Nama Farhan

In [21]:
# FOR LOOP - Items in Elements_2 (array : Dictionary)
data_list_siswa = [{'nama' : 'Krian',
                   'absen' : '1'},
                   {'nama' : 'Bayu',
                   'absen' : '2'},
                   {'nama' : 'Farhan',
                    'absen' : '3'}]
for list_siswa in data_list_siswa:
  for key, value in (list_siswa).items():
    print (key, value)

nama Krian
absen 1
nama Bayu
absen 2
nama Farhan
absen 3

In [22]:
# FOR LOOP - Items in Elements_3 (array : Dictionary)
data_list_siswa = [{'Nama' : 'Krian',
                   'Absen' : '1'},
                   {'Nama' : 'Bayu',
                   'Absen' : '2'},
                   {'Nama' : 'Farhan',
                    'Absen' : '3'}]
for list_siswa in data_list_siswa:
  print ('Ini List:')
  print ('Item dari List : ', list_siswa)
  for key, value in (list_siswa).items():
    print (key, value)
  print ("\n")

Ini List:
Item dari List :  {'Nama': 'Krian', 'Absen': '1'}
Nama Krian
Absen 1


Ini List:
Item dari List :  {'Nama': 'Bayu', 'Absen': '2'}
Nama Bayu
Absen 2


Ini List:
Item dari List :  {'Nama': 'Farhan', 'Absen': '3'}
Nama Farhan
Absen 3

In [23]:
# WHILE LOOP - Number of Times_1
index = 0
while index < 10:
  index += 1
  print (index)

1
2
3
4
5
6
7
8
9
10

In [24]:
# WHILE LOOP - Number of Times_String

i = 1
while i <= 5:
  print("Hello World")
  i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [25]:
# WHILE LOOP - Number of Times_2
is_number_equal_to_10 = False
index = 0
while is_number_equal_to_10 == False:
  index += 1
  print (index)
  if index == 10:
    is_number_equal_to_10 = True

1
2
3
4
5
6
7
8
9
10

In [26]:
# FOR LOOP - Menampilkan Bilangan Ganjil di antara 1 - 20
for angka in range (0, 20):
  if angka % 2 != 0:
    print (angka)

1
3
5
7
9
11
13
15
17
19

In [27]:
# WHILE LOOP - Menampilkan Bilangan Fibbonaci < 50 yang juga merupakan Bilangan Ganjil [1-50]
bilangan_0 = 1
bilangan_1 = 0
bilangan_penampung = 1

while bilangan_penampung <= 50:
  bilangan_penampung = bilangan_0 + bilangan_1
  bilangan_0 = bilangan_1
  bilangan_1 = bilangan_penampung
  if bilangan_0 % 2 != 0:
    print (bilangan_0)

1
1
3
5
13
21

In [28]:
# WHILE LOOP - Menampilkan Bilangan Fibbonaci di antara 1-100
bilangan_0 = 0
bilangan_1 = 1
bilangan_penampung = 0

while bilangan_penampung <= 100:
  bilangan_penampung = bilangan_0 + bilangan_1
  bilangan_0 = bilangan_1
  bilangan_1 = bilangan_penampung
  print (bilangan_0)

1
1
2
3
5
8
13
21
34
55
89

In [29]:
# WHILE LOOP - Menampilkan Bilangan Prima di range 1 - 50
# looping dari 1 sampai 50
for a in range(1, 50):
  bil_prima = 0 
  # looping lagi dari 1 sampai 50 untuk pembaginya
  for b in range(1, 50):
    # cek apakah sisa bagi dari a / b = 0 ?
    if a % b == 0:
      bil_prima += 1
  
  if bil_prima == 2:
    print(a)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

### Basic Programming III : Array dan Other Data Types

In [30]:
# LIST MANIPULATION - APPEND() 1 -  Menambah Value Baru pada Akhir List
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang'] 
list_makanan.append('Ketoprak') 
print(list_makanan)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']

In [31]:
# LIST MANIPULATION - APPEND() 2 - Menambah value baru pada akhir list
list_bilangan_ganjil = [1, 3, 5, 7, 9]
list_bilangan_ganjil.append(11)
print(list_bilangan_ganjil)

[1, 3, 5, 7, 9, 11]

In [32]:
# LIST MANIPULATION - CLEAR() 1 - Menghapus seluruh elemen dalam sebuah list
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang'] 
list_makanan.clear() 
print(list_makanan)

[]

In [33]:
# LIST MANIPULATION - CLEAR() 2 - Menghapus seluruh elemen dalam sebuah list
list_bilangan_ganjil = [1, 3, 5, 7, 9]
list_bilangan_ganjil.clear()
print(list_bilangan_ganjil)

[]

In [34]:
# LIST MANIPULATION - COPY() - Mengembalikan copy dari setiap elemen dalam list
list_makanan1 = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan2 = list_makanan1.copy()
list_makanan3 = list_makanan1
list_makanan2.append('Opor')
list_makanan3.append('Ketoprak')
print(list_makanan1)
print(list_makanan2)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']

In [35]:
# LIST MANIPULATION - COUNT() - Mengembalikan copy dari setiap elemen dalam list
list_score = ['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
score_budi = list_score.count('Budi')
score_sud = list_score.count('Sud')
print('Budi =',score_budi) 
print('Sud =',score_sud)

Budi = 4
Sud = 3

In [36]:
# LIST MANIPULATION - EXTEND() - Menggabungkan dua buah list seperti penggunaan operator + untuk list
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu.extend(list_minuman)
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

In [37]:
# LIST MANIPULATION - INDEX() - Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah list
list_score = ['Budi','Sud','Budi','Budi','Budi','Sud','Sud']
score_pertama_sud = list_score.index('Sud')
score_pertama_budi = list_score.index('Budi')
print(score_pertama_sud)
print(score_pertama_budi)

1
0

In [38]:
# LIST MANIPULATION - INDEX() - Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah list
list_score = ['Budi','Sud','Budi','Budi','Sud']
list_score.insert(3, 'Sud')
print(list_score)

['Budi', 'Sud', 'Budi', 'Sud', 'Budi', 'Sud']

In [39]:
# LIST MANIPULATION - POP() 1 - Menghilangkan elemen pada posisi tertentu
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_menu.pop(1)
print(list_menu)

['Gado-gado', 'Rendang']

In [40]:
# LIST MANIPULATION - POP() 2 - Menghilangkan elemen pada posisi tertentu
list_bilangan_ganjil = [1, 3, 5, 7, 9]
list_bilangan_ganjil.pop(2)
print(list_bilangan_ganjil)

[1, 3, 7, 9]

In [41]:
# LIST MANIPULATION - REMOVE() - Menghilangkan elemen dengan nilai tertentu
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.remove('Rendang')
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Ketoprak']

In [42]:
# LIST MANIPULATION - REVERSE() - Membalik urutan elemen dari sebuah list
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.reverse()
print(list_menu)

['Ketoprak', 'Rendang', 'Ayam Goreng', 'Gado-gado']

In [43]:
# LIST MANIPULATION - SORT() - Mengurutkan elemen pada sebuah list, secara default dengan urutan dari kecil ke besar (ascending)
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.sort() # Default: Ascending
print(list_menu) 
list_menu.sort(reverse=True)# Descending
print(list_menu)

['Ayam Goreng', 'Gado-gado', 'Ketoprak', 'Rendang']
['Rendang', 'Ketoprak', 'Gado-gado', 'Ayam Goreng']

In [44]:
# LIST MANIPULATION - LEN() - Menentukan panjang sebuah list
tes_list = [1, 2, 3, 4, 5]
print(tes_list, 'panjangnya adalah:', len(tes_list))

[1, 2, 3, 4, 5] panjangnya adalah: 5

In [45]:
# LIST MANIPULATION - APPEND()
list_bilangan_ganjil =[]
for i in range(0,50):
  if i % 2 != 0:
    list_bilangan_ganjil.append(i)
print(list_bilangan_ganjil)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [46]:
# LIST MANIPULATION - APPEND()
# Menampilkan Bilangan Fibbonaci yang < 50 dan juga Bilangan Ganjil [1-50]
a = 0
b = 1
c = 0
list_fibbonaci_odd_below_50 = []
while c <= 50:
  c = a + b 
  a = b 
  b = c  
  if a in list_bilangan_ganjil:
    list_fibbonaci_odd_below_50.append(a)
    print(a)

1
1
3
5
13
21

In [47]:
list_bilangan_prima = []
counter_prima = 0
for i in range(1,20):
  for j in range(1, i+1):
    if i % j == 0:
      counter_prima += 1
  # print(i, 'counter_prima: ', counter_prima)
  if counter_prima == 2:
    # print(True)
    list_bilangan_prima.append(i)
  counter_prima = 0

### Basic Programming IV Functions

In [48]:
# Definisikan fungsi 
def contoh_fungsi(): 
  print("Halo Dunia") 
  print("Aku sedang belajar bahasa Python")
   
# Panggil fungsi yang telah didefinisikan contoh_fungsi()
contoh_fungsi()

Halo Dunia
Aku sedang belajar bahasa Python

In [49]:
# Definsikan fungsi 
def fungsi_dengan_argumen(nama_depan, nama_belakang): 
  print(nama_depan+" "+nama_belakang) 

# Panggil fungsi dengan memasukkan argumen 
# nama_depan yaitu "John" dan nama_belakang "Doe" 
fungsi_dengan_argumen ("John","Doe")

John Doe

In [50]:
# Definsikan fungsi 
def square(value):
  new_value = value ** 2
  print(new_value)

# Panggil fungsi dengan memasukkan square 
square(4)

16

In [51]:
# Mengecek apakah bilangan dari input merupakan bilangan ganjil/genap
# 2 source, mysql / postgresql (menggunakan manual)

# Proses 1
input_dari_mysql = 10
if input_dari_mysql % 2 != 0:
  print('Ya, bilangan input adalah ganjil')
else:
  print('Bukan, bilangan input adalah genap')

#Proses 2
input_dari_postgresql = 11
if input_dari_postgresql % 2 != 0:
  print('Ya, bilangan input adalah ganjil')
else:
  print('Bukan, bilangan input adalah genap')

Bukan, bilangan input adalah genap
Ya, bilangan input adalah ganjil

In [52]:
# Purpose 
# Focus on specific task, prevent re -invent the wheel / code can re-usable

# Mengecek apakah bilangan dari input merupakan bilangan ganjil/genap
# 2 source, mysql / postgresql (menggunakan functions)

# Definsikan fungsi
def cek_ganjil(input_bilangan):
  if input_bilangan % 2 != 0:
    print('Ya, bilangan input adalah ganjil')
  else:
    print('Bukan, bilangan input adalah genap')

input_bilangan_mysql = 12
input_bilangan_postgresql = 13

cek_ganjil(input_bilangan_mysql)
cek_ganjil(input_bilangan_postgresql)

Bukan, bilangan input adalah genap
Ya, bilangan input adalah ganjil

In [53]:
# Dua buah data yang tersimpan dalam tipe list 
data1 = [70, 70, 70, 100, 100, 100, 120, 120, 150, 150] 
data2 = [50, 60, 60, 50, 70, 70, 100, 80, 100, 90] 

# Definisikan fungsi hitung_rata_rata 
def hitung_rata_rata(data): 
  jumlah = 0 
  for item in data: 
    jumlah += item 
    rata_rata = jumlah/len (data) 
    return rata_rata
 
# Hitung nilai rata-rata dari kedua data yang dimiliki 
print('Rata-rata data1:') 
print(hitung_rata_rata(data1)) 
print('Rata-rata data2:') 
print(hitung_rata_rata(data2))

Rata-rata data1:
7.0
Rata-rata data2:
5.0

In [54]:
# Menghitung luas dan keliling persegi menggunakan FUNCTION
# Tujuan dari function ini adalah untuk return value luas pesergi panjang
# dan return value keliling persegi panjang
def describe_persegi_panjang(panjang, lebar):
  luas_persegi = panjang * lebar
  kel_persegi = 2 * (panjang + lebar)
  return luas_persegi, kel_persegi

luas_persegi, kel_persegi = describe_persegi_panjang(10,10)

# Hitung nilai luas dan keliling dari persegi
print('Hasil dari luas persegi:' , luas_persegi) 
print('Hasil dari keliling persegi:', kel_persegi)

Hasil dari luas persegi: 100
Hasil dari keliling persegi: 40

In [55]:
# Menghitung luas lingkaran menggunakan FUNCTION
def luas_lingkaran(phi, jari_jari):
  return phi * jari_jari * jari_jari

hasil_lingkaran = luas_lingkaran(3.14,20)
print('Hasil dari luas lingkaran:', hasil_lingkaran)

Hasil dari luas lingkaran: 1256.0

In [56]:
# LAMBDA FUNCTION 1
# lambda arguments : expression
x = lambda a, b: a * b
print(x(5, 6))

30

In [57]:
# LAMBDA FUNCTION 2 
# lambda arguments : expression
phi = 3.14
jari_jari = 20
luas_lingkaran = lambda phi, jari_jari: phi * jari_jari * jari_jari
print(luas_lingkaran(phi,jari_jari))

1256.0

In [58]:
# ARGS
def tambahkan_semua_input(*args):
  sum_all = 0
  for i in args:
    sum_all += i
  print(sum_all)

tambahkan_semua_input(1,2,3,4,5,6,7,8,9,10)

55

In [59]:
# MISSING ARGUMENT
def tambahkan_input(angka_1,angka_2):
  sum_all = 0 
  print(angka_1 + angka_2)

tambahkan_input(10,90)

100

In [60]:
# Mengecek apakah bilangan prima input merupakan bilangan prima di antara 1 - 100
# 1,7,9,11,200,300 diusahakan hasilnya di assign ke variable baru menggunakan return
def check_prima(n):
  if n < 2:
    return False 
  elif n == 2:
    return True
  else:
    prima_status = True

    for i in range(2, n):
      if (n % i == 0 ) and (prima_status == True):
        prima_status = False

  return prima_status

a = check_prima(2)
print(a)

True

In [61]:
# Mengecek apakah bilangan prima input merupakan bilangan prima di antara 1 - 100 - 2 
# 1,7,9,11,200,300 diusahakan hasilnya di assign ke variable baru menggunakan return
angka_input = 20
def check_prime(angka_input):
  factor = 0
  prime_flag = False
  for i in range(1, angka_input + 1):
    if angka_input % i == 0:
      factor += 1
  if factor == 2:
      prime_flag = True
  else:
      prima_flag = False
  return prime_flag

check_prime(angka_input)

False

In [62]:
# CONTINUE - Mengecek apakah bilangan prima input merupakan bilangan prima di antara 1 - 100
def check_range(n):
  if n >= 1 and n <= 100:
    return True
  else:
    return False

is_range_true = check_range(angka_input)
is_prime_true = check_prime(angka_input)

if is_range_true and is_prime_true:
  print('Bilangan input merupakan bilangan prima')
else:
  print('Bilangan input bukan merupakan bilangan prima')

Bilangan input bukan merupakan bilangan prima

In [63]:
# HOMEWORK 1 - Basic Programming IV Function
# Mengecek apakah bilangan input merupakan Bilangan Palindrom
import random
input_angka = random.randrange(100, 10000, 1)

def check_palindrome(input_angka):
  temp = input_angka
  reverse = 0 
  while temp > 0 :
    rem = temp % 10
    reverse = (reverse * 10) + rem
    temp = temp // 10
  return input_angka == reverse

In [64]:
# CONTINUE - Mengecek apakah bilangan input merupakan Bilangan Palindrom
def check_range(n):
  if n >= 100 and n <= 10000:
    return True
  else:
    return False

is_range_true = check_range(input_angka)
is_palindrome_true = check_palindrome(input_angka)

print("Bilangan Input =", input_angka)
if is_range_true and is_palindrome_true:
  print('Bilangan input merupakan Bilangan Palindrom')
else:
  print('Bilangan input bukan merupakan Bilangan Palindrom')

Bilangan Input = 3001
Bilangan input bukan merupakan Bilangan Palindrom